.comment-reply {
    margin-left: 50px;
}

body {
    justify-content: center;
    align-items: center;
}

.postbox {
    margin-top: 100px;
}

.post-title {
    font-weight: bold;
    font-size: 3vh;
    padding: 10px;
    background-color: rosybrown;
    color: white;
}

.post-subtitle {
    font-size: 1.5vh;
    border-bottom: 1px solid #0000004d;
    margin-bottom: 10px;
    padding: 10px;
}

.post-content {
    padding: 10px;
    font-size: 2vh;
}

.comment_table {
    font-size: 1.5vh;
    width: 100%;
    margin-top: 30px;
}

.table-head {
    text-align: center;
    background-color: rosybrown;
    color: white;
    font-size: 2vh;
}

th,
td {
    border-bottom: 1px solid black;
    padding: 10px;
}

.date_box {
    text-align: right;
}

.newcomment {
    list-style: none;
    font-size: 1.5vh;
    color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.comment_btn {
    background-color: rosybrown;
    color: white;
    border: none;
    float: right;
}

.comment_btn:hover {
    background-color: grey;
    transform: scale(1.1);
}

.textbox {
    width: 100%;
    margin: 1em auto;
    padding: 2em;
    position: relative;
    padding: 1.5em !important;
    z-index: 0;
    background-color: #efede9;
    border: 3px dashed rosybrown;
    border-radius: 13px;
}