 /* Additional CSS for popup */
 .modal-dialog {
    max-width: 1000px;
    margin: 30px auto;
    height: 100%;
    /* 원하는 높이 값으로 조정 */
    max-height: 80vh;
    /* 원하는 최대 높이 값으로 조정 */
}

.modal-content{
    height: 350px;
}

.modal-body{
    display: flex;
    align-items: center;
}

.comment-reply {
    margin-left: 50px;
}

.modal-body {
    padding-top: 10rem;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    height: 100%;
}f

.navbar {
    justify-content: flex-end;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.h-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.h-navbar .h-nav-item:first-child {
    margin-right: auto;
    font-size: 16px;
    line-height: 8px;
    list-style: none;
}


.navbar .nav-link {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 8px;
    color: #000000ab;
}

.navbar .nav-link:hover {
    background-color: transparent;
    font-size: 16px;
    line-height: 8px;
}

.navbar-brand img {
    height: 80px;
}

.nav-button {
    display: inline-block;
    padding: 20px 20px;
    background-color: transparent;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #00000098;
}

.post-title {
    font-weight: bold;
    font-size: 22px;
    border-bottom: 1px solid #0000004d;
    margin-bottom: 10px;
}

header {
    position: fixed;
    background-color: #fef0ea;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.btn-reply {
    background-color: #ff7f95;
}

.btn_bar{
    display: flex;
    justify-content: center;
}

.close{
    background-color: #fef0ea;
    border: 2px solid grey;
    color: grey;
    font-weight: bold;
    border-radius: 20%;

}