.comment-reply {
    margin-left: 50px;
}

body {
    justify-content: center;
    align-items: center;
}

.post-title {
    font-weight: bold;
    font-size: 3vh;
    border-bottom: 1px solid #0000004d;
    padding: 10px;

}

.post-subtitle {
    font-size: 1.5vh;
    border-bottom: 1px solid #0000004d;
    margin-bottom: 10px;
    padding: 10px;
}

.post-content{
    padding: 10px;
}

.btn-group {
    margin-right: auto;
    text-align: center;
    width: 100%;
    display: inline-block;
}


#newComment {
    margin-top: 20px;
    margin-bottom: 20px;
}
