body {
    background-color: #fff;
}

.container {
    width: 100%;
    min-width: 500px;
}

.input_group {
    min-width: 300px;
    max-width: 500px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-weight: bolder;
    margin: 30px 0 30px;
}

.navbar {
    justify-content: flex-end;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.h-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.h-navbar .h-nav-item:first-child {
    margin-right: auto;
    font-size: 16px;
    line-height: 8px;
    list-style: none;
}


.navbar .nav-link {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 8px;
    color: #000000ab;
}

.navbar .nav-link:hover {
    background-color: transparent;
    font-size: 16px;
    line-height: 8px;
}

.navbar-brand img {
    height: 80px;
}

.nav-button {
    display: inline-block;
    padding: 20px 20px;
    background-color: transparent;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #00000098;
}

header {
    position: fixed;
    background-color: #fef0ea;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

tr {
    padding: 10px;
}

.main_table {
    text-align: center;
    margin: 0 auto;
}