.container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1140px;
    min-width: 960px;
    text-align: center;
    overflow: hidden;
}


.stat_box{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.stat {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-width: 300px;
    min-height: 300px;
}

.carousel_box {
    width: 50%;
}

.title {
    font-size: 5vh;
}

.intro_box {
    margin-left: 10px;
    padding-top: 20px;
    font-size: 2.5vh;
    width: 40%;
    width: 440px;
    height: 400px;
    text-align: left;
}

.text_box {
    margin-top: 20px;
    min-width: 400px;
}

.small_text_box {
    font-size: 1.8vh;
    margin-top: 15px;
}

strong {
    font-weight: bolder;
    margin-bottom: 15px;
    background-color: rgb(178, 222, 241);
}

.carousel {
    text-align: center;
    max-width: 600px;
    min-width: 400px;
}

.img {
    width: 600px;
    height: 400px;
}


.btns {
    margin: 0 auto;
    width: 300px;
    display: flex;
    justify-content: center;
    padding: 5px;
    appearance: none;
    text-align: center;

}

.imgs {
    margin: 0 auto;
    width: 700px;
    height: 400px;
}

.controls {
    top: 450px;
    left: 100px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
}

.headline {
    margin-bottom: 45px;
}

.cbtn {
    border: none;
    font-weight: bolder;
    color:palevioletred;
    background: transparent;
    cursor: pointer;
    padding: 10px;
}

.stat_a {
    min-width: 200px;
}
