<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Auths">
        <select id="selectWithUSERNAME" parameterType="Map" resultType="Map">
        SELECT auth_names.AUTH_NAME, auth_names.MEMBERID
        FROM auths
                inner JOIN auth_names
        ON auths.MEMBERID_USERS = auth_names.MEMBERID
        AND auths.MEMBERID_USERS = #{USERNAME}
        ;
        </select>

        <!-- 입력 -->
        <insert id="insert" parameterType="Map">
        insert into AUTHS 
        (MEMBERID_USERS,MEMBERID_AUTH_NAMES)
        values
        <foreach item="auth" collection="authList"
            separator="," nullable="true">
        (#{USERNAME},#{auth})
        </foreach>        
        ;
    </insert>

</mapper>
