<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommunityMapper">

<insert id="insertComment" parameterType="Map">

INSERT INTO community_comment(COMMENT, COMMENT_DATE, POST_ID, COMMENT_ID) 
VALUES (#{comment}, now(), #{post_id}, #{comment_id});

</insert>


<select id="showComment" parameterType="String" resultType="Map">

SELECT * FROM community_comment
WHERE POST_ID = #{UNIQUE_ID};

</select>
</mapper>