<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Project_TAB">
    <select id="home" parameterType="Map" resultType="Map">
        select COMMON_CODE_ID, NAME, DESCRIPTION, PARENT_COMMON_CODE_ID 
        from commons_code
        where 1 = 1
        <choose>
            <when test="search == 'COMMON_CODE_ID'">
            and COMMON_CODE_ID like CONCAT(#{words}, '%')
            </when>
            <when test="search == 'NAME'">
            and NAME like CONCAT(#{words}, '%')
            </when>
            <when test="search == 'DESCRIPTION'">
            and DESCRIPTION like CONCAT(#{words}, '%')
            </when>
            <when test="search == 'PARENT_COMMON_CODE_ID'">
            and PARENT_COMMON_CODE_ID like CONCAT(#{words}, '%')
            </when>
        </choose>    
    </select>

    <delete id="delete" parameterType="Map">
        delete from commons_code
        where COMMON_CODE_ID = #{COMMON_CODE_ID}
    </delete>

    <update id="update" parameterType="Map">
        update commons_code
        set NAME = #{NAME}, SYSTEM_CODE_YN = #{SYSTEM_CODE_YN}, MODIFIER_SEQ = #{MODIFIER_SEQ}, MODIFY_DATE = now()
        where COMMON_CODE_ID = #{COMMON_CODE_ID}
    </update>

    <insert id="insert" parameterType="Map">
        insert into commons_code
        (COMMON_CODE_ID,NAME,ORDER_NUMBER,ATTRIBUTION_1,ATTRIBUTION_2,DESCRIPTION,SYSTEM_CODE_YN,USE_YN,PARENT_COMMON_CODE_ID,REGISTER_SEQ,REGISTRY_DATE,MODIFIER_SEQ,MODIFY_DATE)
        values
        (#{COMMON_CODE_ID}, #{NAME}, #{ORDER_NUMBER}, #{ATTRIBUTION_1}, #{ATTRIBUTION_2}, #{DESCRIPTION}, #{SYSTEM_CODE_YN}, #{USE_YN}, #{PARENT_COMMON_CODE_ID}, #{REGISTER_SEQ}, now(), #{MODIFIER_SEQ}, now())
    </insert>

    <select id="selectAll" parameterType="Map" resultType="Map">
        SELECT COLUMN_NAME
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE COLUMN_NAME = 'NAME'
            AND TABLE_NAME='commons_code'
	</select>

    <select id="hospital_selectSearch" parameterType="Map" resultType="Map">
        SELECT * 
        FROM centers
        where 1 = 1        
	</select>

    <select id="selectInUID" parameterType="Map" resultType="Map">    
        SELECT * 
        FROM commons_code
        where 1 = 1
        and COMMON_CODE_ID in 
        <foreach item="CAR_INFOR_ID" index="index" collection="COMMON_CODE_ID_LIST"
            open="(" separator="," close=")" nullable="true">
            #{COMMON_CODE_ID}
        </foreach>
        ; 
	</select>

    <select id="selectByInUID" parameterType="Map" resultType="Map">    
        SELECT * 
        FROM centers
        where 1 = 1
        and CENTER_TYPE_ID = #{CENTER_TYPE_ID}
	</select>

    <select id="selectSearchWithPagination" parameterType="Map" resultType="Map">
        SELECT *
        FROM centers
        where 1 = 1 
        <choose>
            <when test="search == 'CENTER_NAME'">
            and CENTER_NAME like CONCAT('%', #{words}, '%')
            </when>
            <when test="search == 'CENTER_ADD'">
            and CENTER_ADD like CONCAT('%', #{words}, '%')
            </when>
        </choose>
        LIMIT #{pageBegin}, #{pageScale}
        ;
	</select>

    <select id="selectTotal" parameterType="Map" resultType="int">
        SELECT count(*) as cnt
        FROM centers
        where 1 = 1 
        <choose>
            <when test="search == 'CENTER_NAME'">
            and CENTER_NAME like CONCAT('%', #{words}, '%')
            </when>
            <when test="search == 'CENTER_ADD'">
            and CENTER_ADD like CONCAT('%', #{words}, '%')
            </when>
        </choose>
	</select>

    <insert id="insert_selfTest" parameterType="Map">
        insert into selftest_result
        (MEMBERID, ST_QNA_CODE, ST_RESULT_CODE)
        values
        (#{MEMBERID}, #{ST_QNA_CODE}, 'SR_03' )
    </insert>

    <select id="select_selfTest" parameterType="Map" resultType="Map">
        SELECT ST_QNA_CODE
        FROM selftest_qna
        where ST_Q_CODE=#{ST_Q_CODE} and ST_ANS_SCORE=#{ST_ANS_SCORE}
	</select>

    <select id="select_selfTest_sum" parameterType="Map" resultType="Map">
        SELECT sum(qna.ST_ANS_SCORE) as sum
        FROM selftest_qna as qna
        join selftest_result as res
        on qna.ST_QNA_CODE = res.ST_QNA_CODE
        where res.MEMBERID = #{MEMBERID}
    </select>

    <delete id="self_test_delete" parameterType="Map">
        delete from selftest_result
        where MEMBERID = #{MEMBERID}
    </delete>

    <select id="select_community" parameterType="Map" resultType="Map">
        SELECT * FROM project_dementia.community_post
        order by POST_DATE DESC
	</select>

    <select id="community_answer" parameterType="Map" resultType="Map">
        SELECT * FROM project_dementia.community_post
        where 1 = 1
        and POST_ID = #{POST_ID}
	</select>

    <update id="self_testUpdateA" parameterType="Map">
        update selftest_result
        set ST_RESULT_CODE = 'SR_01'
        where MEMBERID = #{MEMBERID}
    </update>

    <update id="self_testUpdateB" parameterType="Map">
        update selftest_result
        set ST_RESULT_CODE = 'SR_02'
        where MEMBERID = #{MEMBERID}
    </update>

    <update id="self_testUpdateC" parameterType="Map">
        update selftest_result
        set ST_RESULT_CODE = 'SR_03'
        where MEMBERID = #{MEMBERID}
    </update>

    <select id="mypage_detail" parameterType="Map" resultType="Map">    
        SELECT * 
        FROM members
        where 1 = 1
        and MEMBERID = #{username}
	</select>

    <update id="mypage_update" parameterType="Map">
        update members
        set MEMBERNAME = #{name}, BIRTHDATE = #{birthdate} , PHONENUMBER = #{phone} , MEMBERADDRESS = #{address} , EMAIL=#{email} , INTRODUCTION=#{introduction}
        where MEMBERID = #{MEMBERID}
    </update>

    <insert id="community_end" parameterType="Map">
        insert into community_post
        (POST_TITLE, POST_DATE, POST_CONTENT, MEMBERID, POST_ID)
        values
        (#{POST_TITLE}, now(), #{POST_CONTENT}, #{MEMBERID}, #{POST_ID})
    </insert>

    <update id="community_update" parameterType="Map">
        update community_post
        set POST_CONTENT = #{POST_CONTENT}, POST_TITLE = #{POST_TITLE}, POST_DATE=now()
        where POST_ID = #{POST_ID}
    </update>

    <delete id="community_delete" parameterType="Map">
        delete from community_post
        where POST_ID = #{POST_ID}
    </delete>

    <select id="selectSearchWithPagination_Community" parameterType="Map" resultType="Map">
        SELECT *
        FROM community_post
        where 1 = 1 
        <choose>
            <when test="search == 'POST_TITLE'">
            and POST_TITLE like CONCAT('%', #{words}, '%')
            </when>
            <when test="search == 'MEMBERID'">
            and MEMBERID like CONCAT('%', #{words}, '%')
            </when>
        </choose>
        LIMIT #{pageBegin}, #{pageScale}
        ;
	</select>

    <select id="selectTotal_Community" parameterType="Map" resultType="int">
        SELECT count(*) as cnt
        FROM community_post
        where 1 = 1 
        <choose>
            <when test="search == 'POST_TITLE'">
            and POST_TITLE like CONCAT('%', #{words}, '%')
            </when>
            <when test="search == 'MEMBERID'">
            and MEMBERID like CONCAT('%', #{words}, '%')
            </when>
        </choose>
	</select>

    <select id="login_button" parameterType="Map" resultType="Map">    
        SELECT * 
        FROM members
        where 1 = 1
        and MEMBERID = #{username}
	</select>

    <insert id="survey_result_a" parameterType="Map">
        insert into member_s_f
        (MEMBERID, MEMBERTYPE_ID, STAGE_ID, PATIENTGENDER_ID)
        values
        (#{username}, #{MEMBERTYPE_ID}, #{STAGE_ID}, #{GENDER_ID})
    </insert>

</mapper>
