<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Users">
	<select id="selectByUID" parameterType="Map" resultType="Map">
        SELECT * 
        FROM MEMBERS
        where MEMBERID = #{USERNAME}
	</select>

    <!-- 입력 -->
        <insert id="insert" parameterType="Map">
        INSERT INTO MEMBERS (PHOTO, MEMBERTYPE_ID, MEMBERID, MEMBERPW, MEMBERNAME, GENDER_ID, BIRTHDATE, PHONENUMBER, MEMBERADDRESS, EMAIL, INTRODUCTION)
        VALUES
        ('png', #{auth}, #{username}, #{MEMBERPW}, #{MEMBERNAME}, #{GENDER_ID}, #{BIRTHDATE}, #{PHONENUMBER}, #{MEMBERADDRESS}, #{EMAIL}, 'null')
        ;
        </insert>

</mapper>
